
body {
    display: flex;
    flex-flow: column;
    background-image: url("/public/images/technology-7111755_1920.jpg");
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    padding-bottom: 100px;
}

.name {
    text-align: center;
    font-size: 100px;
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0;
}

.effect{
    transition: 0.3s ease-in-out;
}

.effect:hover{
    transform: scale(1.2);
}